body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    /* jb bhi hamara content screen sy bhar jaa rha ho humein koi bhi scrollable cheez ni chiye */
}
.main{  /* parent container */
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    width: 340px;
    border-radius: 1rem; /* 16px */
    background-color: #000;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem; /* 16px */
    overflow: auto;
    padding: 0 1rem 0 1rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem; /* 16px */
    display: flex;
    flex-direction: column;   /* apna college clone changes*/
    justify-content: center;
    height: 100px ;
    padding: 0.5rem 0.75rem; /* 0.5rem = 8px , 0.75rem = 12px */
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons {
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323 ;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem ;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    /* color: #000; */
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    width: fit-content;
    height: 2rem
}
.dark-badge{
    background-color: #000;
    color: #fff;  
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left: 0.75rem;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.nav-item{
    margin-right: 1rem ;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card:hover{
    background-color: #3c3c3c;
    cursor: pointer;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem; 
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}
.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 2px solid white;
    opacity: 0.4;
}
.album{
    width: 25%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    margin: 0.85rem;
}
.player{
    width: 50%;
    /* background-color: aqua; */
}
.controls{
    width: 25%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem ;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 0.75rem 0 0.75rem;
    
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.album-image{
    height: 3.5rem;
    border-radius: 0.5rem;
}

.album-paragraph{
    
    margin-left: 0.75rem;
}
.para1{
    font-size: 0.85rem;
    font-weight: 700;
}
.para2{
    font-size: 0.75rem ;
    opacity: 0.7;
    margin-top: -0.5rem;
}
.album-icon{
    margin-left: 1rem;
    font-size: 1.3rem;
    opacity: 0.7;
}
.album-icon:hover{
    opacity: 1;
}
.contorl-icons{
    /* height: 1.3rem; */
    margin-right: 0.75rem;
}
.contorl-icons:hover{
    opacity: 1;
}
.control-bar{
    width: 27%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 0.03rem 0 0.03rem;
}
.control-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}
.control-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}